﻿      </div> <!-- container -->
   </div> <!-- end #MainView -->

    <footer>
        <a href="http://www.west-wind.com/" class="float-right">
            <img src="~/images/WestwindText.png" />
        </a>
        <small>&copy; Your Company Here</small>
    </footer>

    <!-- slide in menu - Remove if you don't use it --> 
  	<nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">
            <a class="disabled">
                <i class="fas fa-home"></i>
                Main Menu
            </a>

            <a href="~/">
                <i class="fas fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="far fa-newspaper"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="far fa-newspaper"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fas fa-unlock"></i>
                Login
            </a>
        </div>
    </nav>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>  
    <script>
        // toggle slide in menu
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink,.slide-menu").click(function () {
              $(".slide-menu").toggleClass("active");
          });
        // close when clicking outside of .slide-menu
        $("#MainView").click(function () {
            var $sm = $(".slide-menu");
            if ($sm.hasClass("active")) $sm.removeClass("active");
        });
    </script>

</body>
</html>