﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="~/touch-icon.png" />

    <link rel="icon" href="~/touch-icon.png" />
    <meta name="msapplication-TileImage" content="~/touch-icon.png">

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/application.css" rel="stylesheet" /> 
    <style>
        .row li {
            margin-left: -10px;
        }
    </style>
</head>
<body>
    <div class="banner">
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More Samples">
            <i class="fas fa-bars"></i>
        </a>

        <div class="title-bar no-slide-menu">
            <a href="~/">
                <img src="~/images/icon.png"
                     style="height: 45px; float: left" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: bold;">West Wind</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: 600;">Web Connection</i>
                </div>
            </a>
        </div>

        <nav class="banner-menu-top float-right">            
            <a href="http://west-wind.com/webconnection/docs/" class="hidable">
                <i class="fas fa-book"></i>
                Documentation
            </a>
            <a href="~/">
                <i class="fas fa-home"></i>
                Home
            </a>
        </nav>
    </div>


    <div id="MainView">
            <%= RenderContent() %>
        </div>
    </div> <!-- end #MainView -->

    <footer>
        <a href="http://www.west-wind.com/" class="float-right">
            <img src="~/images/WestwindText.png"/>
        </a>
        <small>&copy; Your Company Here</small>
    </footer>

    <!-- slide in menu - Remove if you don't use it --> 
    <nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">
            <a class="disabled">
                <i class="fas fa-home"></i>
                Main Menu
            </a>

            <a href="~/">
                <i class="fas fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="far fa-newspaper"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="far fa-newspaper"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fa fa-rss-square"></i>
                Login
            </a>
        </div>
    </nav>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>      
    <script>
        // toggle slide in menu
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink,.slide-menu").click(function () {
              $(".slide-menu").toggleClass("active");
          });
        // close when clicking outside of .slide-menu
        $("#MainView").click(function () {
            var $sm = $(".slide-menu");
            if ($sm.hasClass("active")) $sm.removeClass("active");
        });
    </script>

</body>
</html>