﻿.user-item {
    padding: 10px 20px 10px 5px;
    border-bottom: 1px solid #eee;    
}
.user-item:hover {
    background: #f5f5f5;
}
.user-item.user-inactive {
    opacity: 0.50;
    background: #fff1f1;
}
.user-item a {
    font-weight: 600;
}