<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>$safeitemname$</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />

    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="./touch-icon.png" />

    <link rel="icon" href="./touch-icon.png" />
    <meta name="msapplication-TileImage" content="./touch-icon.png" />

    <link href="./lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />    
    <link href="./lib/fontawesome/css/all.min.css" rel="stylesheet" />
    <link href="./css/application.css" rel="stylesheet" />
</head>
<body ng-app="app" 
      ng-controller="pageController as vm">
    <div class="banner">
    	<!-- Slideout Menu Toggle - Hamburger menu -->
        <a class="slide-menu-toggle-open no-slide-menu"
           title="More...">
            <i class="fa fa-bars"></i>
        </a>

        <!-- Icon and Company Logo -->
        <div class="title-bar no-slide-menu">
            <a href="./">
                <img class="title-bar-icon" src="./images/Icon.png" />
                <div style="float: left; margin: 4px 5px; line-height: 1.0">
                    <i style="color: #0092d0; font-size: 0.9em; font-weight: 600;">Logo1</i><br />
                    <i style="color: whitesmoke; font-size: 1.65em; font-weight: 600;">Logo2</i>
                </div>
            </a>
        </div>

        <!-- top right nav menu - .hidable for options that hide on small sizes -->
        <nav class="banner-menu-top float-right">
            <a href="#" class="hidable">
                <i class="fa fa-book"></i>
                Link
            </a>
            <a href="./">
                <i class="fas fa-home"></i>
                Home
            </a>            
        </nav>
    </div>


    <div id="MainView">
        <div class="container">        

            <div class="page-header-text"><i class="fa fa-list-alt"></i> default2</div>

            <div class="well well-sm">
                <h5>{{vm.message}}</h5>
                

                <button class="btn btn-primary" ng-click="vm.buttonClick()">
                    <i class="fas fa-pencil-alt"></i> Click me
                </button>
            </div>

        </div>  <!-- end #MainView.container -->
    </div> <!-- end #MainView -->


    <footer>
        <a href="http://www.west-wind.com/" class="pull-right">
            <img src="./images/WestwindText.png" />
        </a>
        <small>&copy; Company</small>
    </footer>



    <!-- slide in menu - Remove if you don't use it --> 
  	<nav class="slide-menu">
        <div style="padding: 10px 10px 10px 3px;">

            <a class="disabled">
                <i class="fas fa-home"></i>
                Main Menu
            </a>

            <a href="./">
                <i class="fas fa-home"></i>
                Home
            </a>

            <a href="#" class="indented">
                <i class="fas fa-newspaper"></i>
                Sub Link
            </a>
            <a href="#" class="indented">
                <i class="fas fa-newspaper"></i>
                Sub Link 2
            </a>

            <a href="#">
                <i class="fas fa-unlock-alt"></i>
                Login
            </a>
        </div>
    </nav>

    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./lib/angular/angular.min.js"></script>
    <script src="$safeitemname$.js"></script>
    <script>
        // toggle slide in menu
        $(".slide-menu-toggle-open,.slide-menu-toggle-close," +
          ".slide-menu a, #SamplesLink,.slide-menu").click(function () {
              $(".slide-menu").toggleClass("active");
              return false;
          });
        // close when clicking outside of .slide-menu
        $(document).click(function () {            
            var $sm = $(".slide-menu");            
            if ($sm.hasClass("active")) $sm.removeClass("active");
        });
    </script>
</body>
</html>